此程式
買:當五日平均線反轉，並且斜率差超過25%則買進
    
賣:每當賺超過20%賣掉，3%止損

In [2]:
import os
import numpy as np # 全買全賣 五日平均反轉點by 斜率
import pandas as pd
import mplfinance as mpf
from datetime import datetime
import math as mt
def build_detail(stocks, cur_data, unit, profit,cash,buy):
    temp_detail = []
    temp_detail.append(str(datetime.date(stocks['Date'][cur_data]).month) + '/' +
                        str(datetime.date(stocks['Date'][cur_data]).day))                     #Date日期
    if(buy == True):
        temp_detail.append('+' + str(unit))                                               #Buy unit stock 買單位
    else:
        temp_detail.append('-' + str(unit))                                               #Sell unit stock賣單位

    temp_detail.append(stocks_close[cur_data])                                               #Buying price價格
    temp_detail.append(round(stocks_close[cur_data] * 1.001425, 1))                          #Tax included price含稅價
    if(buy == True):
        temp_detail.append('-' + str(round(stocks_close[cur_data] * 1.001425 * unit*1000)))    #Actual cost實際花費
    else:
        temp_detail.append('+' + str(round(stocks_close[i] * 0.995575 * unit*1000)))
    temp_detail.append(profit)                                                        #Profit 獲利
    temp_detail.append(cash)
    return temp_detail

path = os.getcwd() # 取得此檔案當前的工作路徑
list_csv = os.listdir(path) # 取得此路徑中的所有檔案
lists = [file for file in list_csv if '.csv' in file] # 過濾出股價檔(.csv)
for file in lists:
    print(file)
    stocks = pd.read_csv(file)
    stocks = stocks.set_index(pd.DatetimeIndex(stocks["Date"]))
    stocks.iloc[:, 0] = pd.to_datetime(stocks.iloc[:,0], format="%Y/%m/%d")
    colorSet = mpf.make_marketcolors(up='r', down='g')
    styleSet = mpf.make_mpf_style(marketcolors=colorSet)
    kwargs = dict(type='candle', figscale=2, style=styleSet)
    stocks_close = [float(line) for line in stocks['Close']]
    stocks_high = [float(line) for line in stocks['High']]
    stocks_low = [float(line) for line in stocks['Low']]
    def making_averages(days):
        days_mav = [np.nan] * (days - 1)
        for i in range((days - 1), len(stocks_close)):
            days_mav.append(sum(stocks_close[i - (days - 1): i + 1]) / (days))
        return days_mav
    def countingslope(x1,x2,y1,y2):
        if (x2-x1==0):
            return 0
        m = (y2-y1)/(x2-x1)
        return m
    FiveMav = making_averages(5)  # 5日線
    points_buy = [np.nan] * len(stocks)  # 買入點
    points_sell = [np.nan] * len(stocks)  # 賣出點
    fivemavslope = [np.nan] *len(stocks)
    for i in range(0,len(stocks)):
        fivemavslope[i] = countingslope(i-1,i,FiveMav[i-1],FiveMav[i])
    stock = 0   # 股票張數
    profit = 0 #獲利
    cash = 0    #剩餘金額
    principle = 500000 #本金
    # 紀錄交易資訊
    detail = [['日期','買/賣(+/-)','價格', '價格(稅)','實際花費','目前獲利','剩餘金額']]
    temp_detail = []# 暫時交易資訊
    for i in range(5,len(stocks)):
        if ( fivemavslope[i-1] <fivemavslope[i]and stock == 0 and fivemavslope[i]>0 and fivemavslope[i-1]<0 and fivemavslope[i]-fivemavslope[i-1]>=0.25):
            if(len(detail) == 1):#first data
                stock = mt.floor(principle/ (stocks_close[i] * 1.001425 * 1000)*1000)/1000  # 購買股數
                points_buy[i] = stocks_low[i] * 0.98
                cash = mt.floor(principle - stock * (stocks_close[i] * 1000)* 1.001425)  # 剩餘金額
                profit = cash-principle
                detail.append(build_detail(stocks, i, stock, profit, cash,True))
                temp_detail = []  # 清除暫存交易資訊
            else:
                stock = mt.floor(detail[len(detail)-1][6]/ (stocks_close[i] * 1.001425 * 1000) * 1000) / 1000  # 購買股數
                points_buy[i] = stocks_low[i] * 0.98
                cash = mt.floor(float(detail[len(detail)-1][6]) - stock * (stocks_close[i]* 1000)* 1.001425)  # 剩餘金額
                profit = cash-principle
                detail.append(build_detail(stocks,i,stock,profit,cash,True))
                temp_detail = []  # 清除暫存交易資訊
        if (stock > 0 and (((stocks_close[i] - detail[len(detail) - 1][3]) / detail[len(detail) - 1][3]) > 0.2 or ((stocks_close[i] - detail[len(detail) - 1][3]) / detail[len(detail) - 1][3]) < -0.03)):
            points_sell[i] = stocks_high[i] * 1.02  # 繪製點所使用的陣列， 賣出日最高價 * 1.02方便觀看
            cash = mt.floor(cash + stocks_close[i] * 0.995575 * stock * 1000)  # 淨收益計
            profit = cash - principle
            detail.append(build_detail(stocks, i, stock, profit, cash, False))
            stock = 0
            temp_detail = []  # 清除暫存交易資訊
    if(stock > 0):
        points_sell[i] = stocks_high[i] * 1.02  # 繪製點所使用的陣列， 賣出日最高價 * 1.02方便觀看
        cash =mt.floor(cash + stocks_close[i] * 0.995575 * stock * 1000)  # 淨收益計算
        profit = cash - principle
        detail.append(build_detail(stocks, i, stock, profit, cash,False))
        stock = 0
        temp_detail = []  # 清除暫存交易資訊
    print("支出：",principle, "元")
    print("收入:",detail[len(detail)-1][6],"元")
    print("淨收益:",detail[len(detail)-1][5],"元")
    if(len(detail)>1):
        print("投資報酬率:",(int(detail[len(detail)-1][5])/principle)*100,"%")
    else:
        print("No data")
    detail = pd.DataFrame(detail)
    display(detail)
    detail = []

0050_2018.csv
支出： 500000 元
收入: 602766 元
淨收益: 102766 元
投資報酬率: 20.5532 %

        0         1       2      3        4        5       6
0      日期  買/賣(+/-)      價格  價格(稅)     實際花費     目前獲利    剩餘金額
1    2/21    +6.126    81.5   81.6  -499980  -499981      19
2    4/26    -6.126   79.05   79.2  +482117   -17864  482136
3    4/30    +6.018    80.0   80.1  -482126  -499991       9
4   10/11    -6.018    77.4   77.5  +463732   -36259  463741
5   10/18     +5.85   79.15   79.3  -463687  -499947      53
6   10/25     -5.85    75.5   75.6  +439721   -60227  439773
7   10/31    +5.662   77.55   77.7  -439714  -499941      59
8   11/23    -5.662   75.35   75.5  +424744   -75198  424802
9   12/13    +5.559    76.3   76.4  -424756  -499955      45
10  12/25    -5.559   73.75   73.9  +408162   -91793  408207
11    1/9    +5.435    75.0   75.1  -408206  -499999       1
12   11/4    -5.435    92.2   92.3  +498890    -1110  498890
13  11/18    +5.362    92.9   93.0  -498840  -499950      50
14   1/31    -5.362   89.95   90.1  +480178   -19773  480227
15    2/6    +5.195    92.3   92.4  -480182  -499955      45
16   2/26    -5.195   89.45   89.6  +462636   -37319  462681
17    3/5    +5.122    90.2   90.3  -462663  -499982      18
18    3/9    -5.122   85.85   86.0  +437778   -62205  437795
19   3/25    +5.688   76.85   77.0  -437746  -499951      49
20    7/3    -5.688   92.55   92.7  +524095    24143  524143
21    8/5    +5.018   104.3  104.4  -524123  -499981      19
22   8/20    -5.018   100.6  100.7  +502577     2596  502596
23    9/7    +4.901   102.4  102.5  -502578  -499982      18
24    1/4    -4.901  124.35  124.5  +606743   106760  606760
25    2/2    +4.506  134.45  134.6  -606695  -499936      64
26   3/26    -4.506  134.35  134.5  +602702   102766  602766

1304_2011.csv
支出： 500000 元
收入: 460216 元
淨收益: -39784 元
投資報酬率: -7.9568 %

        0         1      2      3        4        5       6
0      日期  買/賣(+/-)     價格  價格(稅)     實際花費     目前獲利    剩餘金額
1    1/14   +13.907   35.9   36.0  -499973  -499973      27
2    2/21   -13.907  43.85   43.9  +607123   107150  607150
3    3/14   +15.747   38.5   38.6  -607123  -499974      26
4    3/15   -15.747   37.0   37.1  +580061    80086  580086
5    4/21   +14.572  39.75   39.8  -580062  -499977      23
6    4/25   -14.572  38.45   38.5  +557814    57837  557837
7    5/13   +14.814   37.6   37.7  -557800  -499964      36
8    5/19   -14.814  36.35   36.4  +536106    36142  536142
9    5/27    +15.54  34.45   34.5  -536116  -499974      26
10   6/20    -15.54   32.0   32.0  +495080    -4895  495105
11   6/27   +15.259   32.4   32.4  -495096  -499992       8
12   7/15   -15.259  39.25   39.3  +596266    96273  596273
13   8/16   +17.461   34.1   34.1  -596269  -499996       4
14   8/19   -17.461   31.3   31.3  +544111    44114  544114
15   8/26   +16.795  32.35   32.4  -544092  -499979      21
16   9/23   -16.795  30.35   30.4  +507473     7493  507493
17   10/7   +16.808  30.15   30.2  -507483  -499991       9
18  11/21   -16.808  27.45   27.5  +459338   -40654  459346
19   12/7   +18.094  25.35   25.4  -459337  -499991       9
20  12/15   -18.094  24.25   24.3  +436838   -63154  436846
21   6/11   +17.073  25.55   25.6  -436837  -499991       9
22   10/8   -17.073   24.6   24.6  +418137   -81854  418146
23   8/13   +26.096   16.0   16.0  -418131  -499985      15
24   8/18   -26.096  15.45   15.5  +401399   -98586  401414
25   8/28   +32.067   12.5   12.5  -401409  -499995       5
26   1/14   -32.067  11.95   12.0  +381505  -118491  381509
27   1/25   +18.906  20.15   20.2  -381499  -499990      10
28   3/11   -18.906  24.45   24.5  +460206   -39784  460216

1762_2010.csv
支出： 500000 元
收入: 755965 元
淨收益: 255965 元
投資報酬率: 51.193 %

        0         1     2      3        4        5       6
0      日期  買/賣(+/-)    價格  價格(稅)     實際花費     目前獲利    剩餘金額
1    1/20    +7.813  63.9   64.0  -499962  -499963      37
2    4/25    -7.813  77.5   77.6  +602828   102865  602865
3    5/11    +7.008  85.9   86.0  -602845  -499981      19
4    5/13    -7.008  80.6   80.7  +562345    62364  562364
..    ...       ...   ...    ...      ...      ...     ...
110   1/6   -12.198  59.7   59.8  +724998   225041  725041
111  1/20   +12.724  56.9   57.0  -725027  -499987      13
112  1/21   -12.724  54.7   54.8  +692923   192935  692935
113  1/29   +12.957  53.4   53.5  -692890  -499955      45
114  3/26   -12.957  58.6   58.7  +755920   255965  755965

[115 rows x 7 columns]

2065_2017.csv
支出： 500000 元
收入: 612307 元
淨收益: 112307 元
投資報酬率: 22.4614 %

        0         1      2      3        4        5       6
0      日期  買/賣(+/-)     價格  價格(稅)     實際花費     目前獲利    剩餘金額
1    6/12   +13.139   38.0   38.1  -499993  -499994       6
2     7/7   -13.139   36.3   36.4  +474835   -25159  474841
3    10/5   +18.167   26.1   26.1  -474834  -499994       6
4   10/12   -18.167  31.75   31.8  +574250    74255  574255
5   10/31    +18.32   31.3   31.3  -574233  -499979      21
6    11/2    -18.32  29.95   30.0  +546256    46277  546277
7     7/4   +19.981   27.3   27.3  -546259  -499982      18
8   10/25   -19.981   26.4   26.4  +525164    25182  525182
9    5/16   +13.327  39.35   39.4  -525165  -499983      17
10    8/5   -13.327   37.9   38.0  +502858     2875  502875
11   8/12    +12.46   40.3   40.4  -502854  -499979      21
12   2/20    -12.46   50.6   50.7  +627686   127707  627707
13    3/5   +12.054   52.0   52.1  -627701  -499995       5
14   3/13   -12.054   50.0   50.1  +600033   100038  600038
15   3/26   +12.509   47.9   48.0  -600035  -499997       3
16   5/13   -12.509   58.5   58.6  +728538   228541  728541
17   5/21   +12.372   58.8   58.9  -728510  -499970      30
18    6/9   -12.372   56.2   56.3  +692230   192259  692259
19   6/17   +12.455   55.5   55.6  -692238  -499979      21
20   7/28   -12.455   53.6   53.7  +664634   164654  664654
21   9/30   +14.716   45.1   45.2  -664637  -499984      16
22  10/30   -14.716  43.45   43.5  +636581   136596  636596
23  12/11   +13.774  46.15   46.2  -636576  -499980      20
24    1/6   -13.774  44.65   44.7  +612288   112307  612307

2236_2015.csv
支出： 500000 元
收入: 396530 元
淨收益: -103470 元
投資報酬率: -20.694000000000003 %

       0         1      2      3        4        5       6
0     日期  買/賣(+/-)     價格  價格(稅)     實際花費     目前獲利    剩餘金額
1   6/23   +12.934   38.6   38.7  -499964  -499964      36
2   6/25   -12.934  46.65   46.7  +600701   100737  600737
3   8/13   +21.893   27.4   27.4  -600723  -499987      13
4   8/19   -21.893   24.4   24.4  +531825    31838  531838
..   ...       ...    ...    ...      ...      ...     ...
84  3/27   -23.449   14.4   14.4  +336171  -163820  336180
85   4/9   +22.231   15.1   15.1  -336166  -499987      13
86  4/21   -22.231  18.85   18.9  +417200   -82787  417213
87   5/5   +24.435  17.05   17.1  -417210  -499998       2
88   5/6   -24.435   16.3   16.3  +396528  -103470  396530

[89 rows x 7 columns]

2330_2020.csv
支出： 500000 元
收入: 633594 元
淨收益: 133594 元
投資報酬率: 26.718799999999998 %

        0         1      2      3        4        5       6
0      日期  買/賣(+/-)     價格  價格(稅)     實際花費     目前獲利    剩餘金額
1     2/6    +1.501  332.5  333.0  -499794  -499794     206
2    2/18    -1.501  322.0  322.5  +481183   -18611  481389
3     3/5    +1.488  323.0  323.5  -481309  -499920      80
4     3/9    -1.488  305.5  305.9  +452572   -47348  452652
5    3/25    +1.631  277.0  277.4  -452431  -499779     221
6    3/30    -1.631  267.5  267.9  +434362   -65418  434582
7     4/7    +1.533  283.0  283.4  -434457  -499876     124
8     7/8    -1.533  341.0  341.5  +520440    20563  520563
9     8/5    +1.211  429.0  429.6  -520259  -499697     303
10   8/20    -1.211  415.0  415.6  +500341      644  500644
11   8/25     +1.15  434.5  435.1  -500387  -499744     256
12   12/8     -1.15  524.0  524.7  +599933   100189  600189
13  12/21    +1.161  516.0  516.7  -599930  -499741     259
14   1/19    -1.161  627.0  627.9  +724726   224984  724984
15    2/2    +1.145  632.0  632.9  -724671  -499688     312
16   2/26    -1.145  606.0  606.9  +690800   191111  691111
17   3/11    +1.133  609.0  609.9  -690980  -499870     130
18   3/19    -1.133  591.0  591.8  +666640   166770  666770
19   3/29    +1.111  599.0  599.9  -666437  -499668     332
20   5/11    -1.111  571.0  571.8  +631574   131905  631905
21   5/18    +1.103  572.0  572.8  -631815  -499911      89
22   8/20    -1.103  552.0  552.8  +606162   106250  606250
23   8/25    +1.034  585.0  585.8  -605752  -499502     498
24  12/30    -1.034  615.0  615.9  +633096   133594  633594

2603_2020.csv
支出： 500000 元
收入: 1392240 元
淨收益: 892240 元
投資報酬率: 178.448 %

        0         1      2      3         4        5        6
0      日期  買/賣(+/-)     價格  價格(稅)      實際花費     目前獲利     剩餘金額
1     2/6   +41.781  11.95   12.0   -499994  -499995        5
2    2/10   -41.781   11.5   11.5   +478355   -21640   478360
3    11/4   +24.125   19.8   19.8   -478356  -499996        4
4   11/25   -24.125  23.85   23.9   +572835    72839   572839
5    12/8   +21.464  26.65   26.7   -572831  -499992        8
6   12/21   -21.464  32.55   32.6   +695562   195569   695569
7    1/22   +19.845   35.0   35.0   -695565  -499996        4
8    1/26   -19.845  33.65   33.7   +664829   164833   664833
9     2/2   +19.468   34.1   34.1   -664805  -499972       28
10   3/18   -19.468  41.65   41.7   +807254   307282   807282
11   3/30   +18.404   43.8   43.9   -807244  -499962       38
12   4/12   -18.404   55.0   55.1  +1007741   507778  1007778
13   5/21   +11.881   84.7   84.8  -1007755  -499977       23
14    6/1   -11.881  108.0  108.2  +1277470   777493  1277493
15   6/11   +10.287  124.0  124.2  -1277406  -499913       87
16   6/21   -10.287  152.0  152.2  +1556705  1056791  1556791
17   7/19    +8.357  186.0  186.3  -1556617  -499827      173
18   7/20    -8.357  169.5  169.7  +1410243   910416  1410416
19   7/29    +9.746  144.5  144.7  -1410304  -499888      112
20   7/30    -9.746  132.0  132.2  +1280779   780891  1280891
21    8/2    +9.039  141.5  141.7  -1280841  -499951       49
22   8/11    -9.039  132.0  132.2  +1187868   687917  1187917
23   8/18    +8.722  136.0  136.2  -1187882  -499966       34
24   8/19    -8.722  128.0  128.2  +1111476   611509  1111509
25   8/20    +8.376  132.5  132.7  -1111401  -499893      107
26    9/1    -8.376  128.5  128.7  +1071553   571660  1071660
27   9/10    +8.015  133.5  133.7  -1071527  -499868      132
28   9/14    -8.015  123.5  123.7   +985472   485604   985604
29   9/23    +7.719  127.5  127.7   -985575  -499971       29
30   9/29    -7.719  123.0  123.2   +945236   445264   945264
31  10/19   +10.293   91.7   91.8   -945213  -499950       50
32   11/3   -10.293  112.0  112.2  +1147715   647764  1147764
33  11/18    +9.631  119.0  119.2  -1147722  -499959       41
34   12/7    -9.631  144.0  144.2  +1380727   880768  1380768
35  12/17    +9.813  140.5  140.7  -1380691  -499924       76
36  12/30    -9.813  142.5  142.7  +1392165   892240  1392240

2748_2016.csv
支出： 500000 元
收入: 576324 元
淨收益: 76324 元
投資報酬率: 15.264800000000001 %

        0         1      2      3        4        5       6
0      日期  買/賣(+/-)     價格  價格(稅)     實際花費     目前獲利    剩餘金額
1     1/4   +10.086   49.5   49.6  -499968  -499969      31
2    5/19   -10.086   60.0   60.1  +602482   102513  602513
3    6/12     +8.13   74.0   74.1  -602477  -499965      35
4    6/15     -8.13   70.0   70.1  +566582    66616  566616
5    6/21    +7.677   73.7   73.8  -566601  -499986      14
6    6/22    -7.677   71.2   71.3  +544184    44197  544197
7    8/23    +8.147   66.7   66.8  -544179  -499983      17
8   12/13    -8.147   64.6   64.7  +523967    23984  523984
9    2/26    +9.343   56.0   56.1  -523954  -499970      30
10   6/25    -9.343   69.6   69.7  +647395   147425  647425
11   9/19   +10.393   62.2   62.3  -647366  -499941      59
12    8/1   -10.393   60.3   60.4  +623925   123983  623983
13   8/13   +10.578   58.9   59.0  -623932  -499950      50
14  11/11   -10.578   56.2   56.3  +591853    91903  591903
15  12/11   +11.681   50.6   50.7  -591901  -499998       2
16   1/30   -11.681  46.05   46.1  +535530    35531  535531
17   3/25   +14.241  37.55   37.6  -535512  -499981      19
18   5/25   -14.241   47.4   47.5  +672036   172055  672055
19    6/5   +12.686   52.9   53.0  -672046  -499991       9
20   6/15   -12.686   50.6   50.7  +639071   139080  639080
21   8/27   +13.949  45.75   45.8  -639076  -499997       3
22   9/15   -13.949   41.5   41.6  +576322    76324  576324

2886_2019.csv
支出： 500000 元
收入: 剩餘金額 元
淨收益: 目前獲利 元
No data

    0         1   2      3     4     5     6
0  日期  買/賣(+/-)  價格  價格(稅)  實際花費  目前獲利  剩餘金額

2926_2013.csv
支出： 500000 元
收入: 160794 元
淨收益: -339206 元
投資報酬率: -67.8412 %

       0         1      2      3        4        5       6
0     日期  買/賣(+/-)     價格  價格(稅)     實際花費     目前獲利    剩餘金額
1   3/25    +2.142  233.0  233.3  -499797  -499798     202
2   3/27    -2.142  223.5  223.8  +476619   -23180  476820
3   4/24    +2.532  188.0  188.3  -476694  -499875     125
4   4/26    -2.532  182.5  182.8  +460045   -39830  460170
..   ...       ...    ...    ...      ...      ...     ...
86  9/18    -2.229   76.0   76.1  +168654  -331333  168667
87  9/21    +2.216   76.0   76.1  -168656  -499989      11
88  1/21    -2.216   73.6   73.7  +162376  -337614  162386
89  1/27    +2.153   75.3   75.4  -162352  -499966      34
90  3/26    -2.153   75.0   75.1  +160760  -339206  160794

[91 rows x 7 columns]